@charset "utf-8";
/* CSS Document */

body{
	font-family: 'Recursive', sans-serif;
}
.main-img {
	margin-bottom: 0px;
}

.intro {
	margin-top: 50px;
	text-align: center;
}

.introAns {
	margin: 0 auto;
	width: 700px;
	font-size: 20px;
}

.ill {
	padding: 0px;
	height: 350px;
}

.cause {
	background-color: #87cae4; 
	width: 75%;
	margin-top: 70px;
	margin-bottom: 70px;
	border: medium solid lightblue;
	box-shadow: 3px 3px 30px black;
}

.a {
	color: white;
	font-size: 23px;
}

.ct {
	color: white;
	margin-top: 20px;
}

.ab {
	font-size: 22px;
	color: white;
}

.cause li{
	text-align: left;
	font-size: 18px;
	color: white;
}


.mli {
	border-right: medium solid white;
}
body {
    background: white;
    
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    background-color:#87cae4;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}
#mainNavbar.scrolled {
    background-color: #112832;
    transition: background 500ms;
}
.navbar-brand{
    font-size: 25px;
}
#help{
    color: #EA1C2C;
}

.animated-icon1, .animated-icon2, .animated-icon3 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #e65100;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.page-footer{
    background-color:#0E0B20;
    color:#DEDAF7 ;
}

.fb-ic{
    color:red;
    font-size: 1.225rem;
}
.tw-ic{
    color:purple;
    font-size: 1.225rem;
}
.ins-ic{
    color:pink;
    font-size: 1.225rem;
}
